In [3]:
import pandas as pd
import seaborn as sns

In [4]:
df=pd.read_csv('advertising.csv')

In [5]:
df.head()

,Daily Time Spent on Site,Age,Area Income,Daily Internet Usage,Ad Topic Line,City,Male,Country,Timestamp,Clicked on Ad
0,68.95,35,61833.90,256.09,Cloned 5thgeneration orchestration,Wrightburgh,0,Tunisia,2016-03-27 00:53:11,0
1,80.23,31,68441.85,193.77,Monitored national standardization,West Jodi,1,Nauru,2016-04-04 01:39:02,0
2,69.47,26,59785.94,236.50,Organic bottom-line service-desk,Davidton,0,San Marino,2016-03-13 20:35:42,0
3,74.15,29,54806.18,245.89,Triple-buffered reciprocal time-frame,West Terrifurt,1,Italy,2016-01-10 02:31:19,0
4,68.37,35,73889.99,225.58,Robust logistical utilization,South Manuel,0,Iceland,2016-06-03 03:36:18,0

In [6]:
df.corr()

,Daily Time Spent on Site,Age,Area Income,Daily Internet Usage,Male,Clicked on Ad
Daily Time Spent on Site,1.000000,-0.331513,0.310954,0.518658,-0.018951,-0.748117
Age,-0.331513,1.000000,-0.182605,-0.367209,-0.021044,0.492531
Area Income,0.310954,-0.182605,1.000000,0.337496,0.001322,-0.476255
Daily Internet Usage,0.518658,-0.367209,0.337496,1.000000,0.028012,-0.786539
Male,-0.018951,-0.021044,0.001322,0.028012,1.000000,-0.038027
Clicked on Ad,-0.748117,0.492531,-0.476255,-0.786539,-0.038027,1.000000

In [7]:
df['Ad Topic Line'].value_counts

<bound method IndexOpsMixin.value_counts of 0                 Cloned 5thgeneration orchestration
1                 Monitored national standardization
2                   Organic bottom-line service-desk
3              Triple-buffered reciprocal time-frame
4                      Robust logistical utilization
5                    Sharable client-driven software
6                         Enhanced dedicated support
7                           Reactive local challenge
8                     Configurable coherent function
9                 Mandatory homogeneous architecture
10                    Centralized neutral neural-net
11     Team-oriented grid-enabled Local Area Network
12             Centralized content-based focus group
13                  Synergistic fresh-thinking array
14                     Grass-roots coherent extranet
15                Persistent demand-driven interface
16                Customizable multi-tasking website
17                        Intuitive dynamic attitude
18      Grass-roots solution-oriented conglomeration
19                        Advanced 24/7 productivity
20             Object-based reciprocal knowledgebase
21                 Streamlined non-volatile analyzer
22             Mandatory disintermediate utilization
23                Future-proofed methodical protocol
24                     Exclusive neutral parallelism
25                   Public-key foreground groupware
26                Ameliorated client-driven forecast
27                    Monitored systematic hierarchy
28           Open-architected impactful productivity
29           Business-focused value-added definition
                           ...
970                       Enhanced intangible portal
971                  Down-sized background groupware
972                     Switchable real-time product
973                      Ameliorated local workforce
974                      Streamlined exuding adapter
975           Business-focused user-facing benchmark
976          Reactive bi-directional standardization
977                        Virtual bifurcated portal
978              Integrated 3rdgeneration monitoring
979                  Balanced responsive open system
980            Focused incremental Graphic Interface
981                            Secured 24hour policy
982                     Up-sized asymmetric firmware
983          Distributed fault-tolerant service-desk
984           Vision-oriented human-resource synergy
985              Customer-focused explicit challenge
986            Synchronized human-resource moderator
987           Open-architected full-range projection
988                         Versatile local forecast
989                Ameliorated user-facing help-desk
990                   Enterprise-wide tangible model
991           Versatile mission-critical application
992                    Extended leadingedge solution
993                   Phased zero tolerance extranet
994                    Front-line bifurcated ability
995                    Fundamental modular algorithm
996                  Grass-roots cohesive monitoring
997                     Expanded intangible solution
998             Proactive bandwidth-monitored policy
999                  Virtual 5thgeneration emulation
Name: Ad Topic Line, Length: 1000, dtype: object>

In [8]:
df['City'].value_counts

<bound method IndexOpsMixin.value_counts of 0            Wrightburgh
1              West Jodi
2               Davidton
3         West Terrifurt
4           South Manuel
5              Jamieberg
6            Brandonstad
7       Port Jefferybury
8             West Colin
9             Ramirezton
10       West Brandonton
11     East Theresashire
12        West Katiefurt
13            North Tara
14          West William
15        New Travistown
16        West Dylanberg
17           Pruittmouth
18           Jessicastad
19            Millertown
20       Port Jacqueline
21           Lake Nicole
22            South John
23           Pamelamouth
24         Harperborough
25     Port Danielleberg
26       West Jeremyside
27       South Cathyfurt
28            Palmerside
29          West Guybury
             ...
970           Lake Tracy
971          Taylormouth
972           Dianaville
973         Collinsburgh
974          Port Rachel
975        South Rebecca
976      Port Joshuafort
977         Robinsontown
978              Beckton
979       New Frankshire
980     North Derekville
981          West Sydney
982         Lake Matthew
983     Lake Zacharyfurt
984         Lindsaymouth
985            Sarahland
986           Port Julie
987         Michaelshire
988             Sarafurt
989         South Denise
990          North Katie
991          Mauricefurt
992          New Patrick
993         Edwardsmouth
994         Nicholasland
995            Duffystad
996          New Darlene
997        South Jessica
998          West Steven
999          Ronniemouth
Name: City, Length: 1000, dtype: object>

In [9]:
df.drop(['Ad Topic Line','City','Timestamp','Male'],axis=1,inplace=True)

In [10]:
df.corr()

,Daily Time Spent on Site,Age,Area Income,Daily Internet Usage,Clicked on Ad
Daily Time Spent on Site,1.000000,-0.331513,0.310954,0.518658,-0.748117
Age,-0.331513,1.000000,-0.182605,-0.367209,0.492531
Area Income,0.310954,-0.182605,1.000000,0.337496,-0.476255
Daily Internet Usage,0.518658,-0.367209,0.337496,1.000000,-0.786539
Clicked on Ad,-0.748117,0.492531,-0.476255,-0.786539,1.000000

In [11]:
df.head()

,Daily Time Spent on Site,Age,Area Income,Daily Internet Usage,Country,Clicked on Ad
0,68.95,35,61833.90,256.09,Tunisia,0
1,80.23,31,68441.85,193.77,Nauru,0
2,69.47,26,59785.94,236.50,San Marino,0
3,74.15,29,54806.18,245.89,Italy,0
4,68.37,35,73889.99,225.58,Iceland,0

In [12]:
df.drop('Country',axis=1,inplace=True)

In [13]:
df.head()

,Daily Time Spent on Site,Age,Area Income,Daily Internet Usage,Clicked on Ad
0,68.95,35,61833.90,256.09,0
1,80.23,31,68441.85,193.77,0
2,69.47,26,59785.94,236.50,0
3,74.15,29,54806.18,245.89,0
4,68.37,35,73889.99,225.58,0

In [14]:
y=df['Clicked on Ad']

In [15]:
df.drop('Clicked on Ad',axis=1,inplace=True)

In [16]:
df.head()

   Daily Time Spent on Site  Age  Area Income  Daily Internet Usage
0                     68.95   35     61833.90                256.09
1                     80.23   31     68441.85                193.77
2                     69.47   26     59785.94                236.50
3                     74.15   29     54806.18                245.89
4                     68.37   35     73889.99                225.58

In [17]:
y

0      0
1      0
2      0
3      0
4      0
5      0
6      0
7      1
8      0
9      0
10     1
11     0
12     1
13     0
14     1
15     1
16     1
17     0
18     1
19     1
20     0
21     0
22     1
23     0
24     1
25     0
26     1
27     1
28     1
29     0
      ..
970    1
971    1
972    1
973    0
974    1
975    1
976    1
977    1
978    0
979    0
980    1
981    0
982    1
983    0
984    0
985    1
986    0
987    1
988    0
989    0
990    1
991    1
992    1
993    0
994    1
995    1
996    1
997    1
998    0
999    1
Name: Clicked on Ad, Length: 1000, dtype: int64

In [18]:
from sklearn.model_selection import train_test_split

In [19]:
x_train,x_test,y_train,y_test=train_test_split(df,y,test_size=0.2)

In [20]:
import sklearn
from sklearn.linear_model import LogisticRegression

In [21]:
log_reg = LogisticRegression()
log_reg.fit(x_train,y_train)

/anaconda3/lib/python3.7/site-packages/sklearn/linear_model/logistic.py:433: FutureWarning: Default solver will be changed to 'lbfgs' in 0.22. Specify a solver to silence this warning.
  FutureWarning)

LogisticRegression(C=1.0, class_weight=None, dual=False, fit_intercept=True,
          intercept_scaling=1, max_iter=100, multi_class='warn',
          n_jobs=None, penalty='l2', random_state=None, solver='warn',
          tol=0.0001, verbose=0, warm_start=False)

In [22]:
y_train_pred=log_reg.predict(x_train)

In [23]:
y_train_pred

array([0, 0, 1, 0, 1, 1, 1, 1, 0, 0, 1, 0, 0, 0, 0, 1, 0, 0, 1, 1, 1, 1,
       1, 1, 1, 1, 1, 0, 1, 0, 0, 1, 1, 0, 0, 0, 1, 1, 1, 1, 1, 0, 0, 0,
       1, 0, 1, 0, 1, 1, 1, 0, 1, 0, 0, 0, 1, 0, 1, 0, 1, 1, 0, 0, 1, 0,
       1, 1, 0, 0, 1, 0, 1, 1, 1, 1, 1, 1, 0, 1, 0, 0, 1, 1, 0, 1, 1, 0,
       0, 0, 1, 1, 0, 1, 0, 0, 1, 0, 1, 0, 1, 1, 0, 0, 0, 0, 1, 1, 0, 1,
       1, 0, 0, 1, 1, 1, 0, 1, 1, 0, 0, 0, 1, 0, 1, 0, 1, 0, 0, 0, 0, 0,
       1, 1, 1, 0, 1, 0, 1, 0, 1, 1, 1, 0, 0, 0, 0, 1, 0, 1, 1, 0, 0, 0,
       0, 1, 0, 0, 0, 1, 0, 0, 0, 0, 0, 0, 1, 0, 0, 0, 0, 0, 0, 0, 1, 0,
       0, 0, 0, 0, 0, 0, 0, 0, 0, 1, 0, 1, 1, 1, 0, 0, 0, 1, 0, 0, 0, 1,
       1, 1, 0, 1, 0, 0, 1, 0, 0, 1, 0, 1, 1, 0, 0, 1, 1, 1, 0, 1, 0, 1,
       0, 0, 1, 1, 0, 0, 1, 1, 1, 0, 1, 1, 1, 1, 0, 1, 1, 1, 1, 1, 1, 0,
       1, 0, 0, 0, 1, 0, 0, 0, 0, 1, 0, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1, 0,
       0, 1, 1, 1, 1, 1, 1, 1, 0, 1, 1, 1, 1, 1, 0, 0, 1, 0, 0, 0, 0, 1,
       1, 0, 1, 1, 0, 0, 0, 1, 0, 1, 1, 1, 0, 0, 1, 1, 1, 0, 1, 1, 1, 0,
       0, 0, 1, 1, 1, 0, 0, 1, 1, 0, 1, 1, 1, 0, 0, 1, 0, 0, 1, 0, 0, 0,
       0, 1, 1, 1, 1, 1, 1, 0, 1, 0, 0, 0, 0, 0, 1, 0, 0, 1, 1, 0, 0, 0,
       1, 1, 0, 0, 0, 0, 1, 0, 1, 1, 1, 0, 0, 0, 1, 1, 0, 0, 1, 0, 0, 0,
       0, 0, 1, 0, 0, 1, 1, 0, 0, 1, 0, 0, 0, 1, 0, 1, 0, 0, 0, 0, 0, 1,
       0, 0, 0, 0, 0, 0, 1, 1, 1, 1, 0, 1, 0, 0, 1, 1, 1, 1, 0, 1, 1, 1,
       0, 1, 0, 1, 1, 0, 0, 0, 0, 1, 0, 0, 1, 1, 0, 1, 0, 1, 1, 1, 0, 1,
       0, 0, 1, 0, 1, 0, 0, 1, 1, 0, 0, 0, 1, 1, 0, 1, 1, 1, 0, 1, 1, 0,
       1, 0, 1, 1, 1, 1, 0, 1, 0, 0, 1, 0, 1, 1, 1, 0, 1, 1, 1, 1, 0, 0,
       0, 0, 1, 1, 1, 1, 1, 0, 1, 0, 1, 1, 0, 0, 1, 1, 1, 0, 0, 1, 0, 1,
       0, 0, 0, 0, 1, 1, 1, 1, 0, 0, 0, 1, 1, 1, 0, 1, 0, 0, 1, 0, 0, 1,
       0, 0, 0, 1, 0, 1, 0, 0, 0, 1, 1, 0, 0, 1, 0, 1, 1, 0, 0, 1, 0, 1,
       0, 0, 0, 1, 0, 1, 0, 0, 1, 0, 0, 1, 0, 0, 0, 0, 1, 1, 1, 0, 0, 0,
       0, 1, 1, 1, 0, 0, 0, 0, 0, 1, 1, 1, 0, 1, 1, 1, 1, 1, 1, 1, 0, 0,
       0, 1, 0, 1, 1, 0, 0, 1, 1, 1, 1, 0, 0, 0, 0, 1, 0, 0, 1, 1, 0, 1,
       0, 1, 1, 1, 0, 0, 0, 1, 0, 1, 1, 0, 0, 1, 1, 0, 0, 0, 0, 0, 0, 1,
       0, 0, 0, 1, 0, 0, 1, 0, 1, 0, 0, 1, 0, 0, 1, 1, 1, 0, 0, 1, 1, 1,
       0, 1, 0, 1, 1, 0, 0, 1, 1, 1, 0, 0, 0, 1, 1, 1, 0, 1, 0, 0, 0, 1,
       0, 0, 1, 0, 0, 0, 1, 0, 1, 0, 1, 1, 1, 0, 1, 1, 0, 1, 1, 1, 1, 1,
       0, 1, 0, 0, 0, 1, 0, 1, 0, 0, 0, 1, 0, 0, 1, 0, 1, 1, 0, 0, 1, 0,
       0, 1, 0, 1, 0, 0, 0, 0, 1, 0, 0, 0, 1, 0, 0, 0, 0, 1, 0, 1, 0, 0,
       0, 0, 0, 0, 0, 1, 0, 1, 1, 1, 1, 0, 1, 1, 0, 1, 0, 0, 1, 1, 1, 1,
       1, 0, 0, 0, 1, 1, 1, 0, 1, 1, 1, 0, 0, 0, 1, 1, 0, 0, 1, 1, 0, 1,
       1, 0, 1, 1, 0, 1, 1, 0])

In [24]:
log_reg.score(x_train,y_train)

0.8975

In [25]:
from sklearn.model_selection import cross_val_score
accuracies = cross_val_score(estimator=log_reg, X=x_train, y=y_train, cv=10)
model_accuracy = accuracies.mean()
model_standard_deviation = accuracies.std()

/anaconda3/lib/python3.7/site-packages/sklearn/linear_model/logistic.py:433: FutureWarning: Default solver will be changed to 'lbfgs' in 0.22. Specify a solver to silence this warning.
  FutureWarning)
/anaconda3/lib/python3.7/site-packages/sklearn/linear_model/logistic.py:433: FutureWarning: Default solver will be changed to 'lbfgs' in 0.22. Specify a solver to silence this warning.
  FutureWarning)
/anaconda3/lib/python3.7/site-packages/sklearn/linear_model/logistic.py:433: FutureWarning: Default solver will be changed to 'lbfgs' in 0.22. Specify a solver to silence this warning.
  FutureWarning)
/anaconda3/lib/python3.7/site-packages/sklearn/linear_model/logistic.py:433: FutureWarning: Default solver will be changed to 'lbfgs' in 0.22. Specify a solver to silence this warning.
  FutureWarning)
/anaconda3/lib/python3.7/site-packages/sklearn/linear_model/logistic.py:433: FutureWarning: Default solver will be changed to 'lbfgs' in 0.22. Specify a solver to silence this warning.
  FutureWarning)
/anaconda3/lib/python3.7/site-packages/sklearn/linear_model/logistic.py:433: FutureWarning: Default solver will be changed to 'lbfgs' in 0.22. Specify a solver to silence this warning.
  FutureWarning)
/anaconda3/lib/python3.7/site-packages/sklearn/linear_model/logistic.py:433: FutureWarning: Default solver will be changed to 'lbfgs' in 0.22. Specify a solver to silence this warning.
  FutureWarning)
/anaconda3/lib/python3.7/site-packages/sklearn/linear_model/logistic.py:433: FutureWarning: Default solver will be changed to 'lbfgs' in 0.22. Specify a solver to silence this warning.
  FutureWarning)
/anaconda3/lib/python3.7/site-packages/sklearn/linear_model/logistic.py:433: FutureWarning: Default solver will be changed to 'lbfgs' in 0.22. Specify a solver to silence this warning.
  FutureWarning)
/anaconda3/lib/python3.7/site-packages/sklearn/linear_model/logistic.py:433: FutureWarning: Default solver will be changed to 'lbfgs' in 0.22. Specify a solver to silence this warning.
  FutureWarning)

In [26]:
accuracies

array([0.90123457, 0.86419753, 0.82716049, 0.8375    , 0.8125    ,
       0.9625    , 0.9375    , 0.93670886, 0.91139241, 0.97468354])

In [27]:
model_accuracy

0.8965377402719173

In [28]:
model_standard_deviation

0.05513530749940751

In [29]:
import statsmodels.api as sm
logit_model=sm.Logit(y_train,x_train)
result=logit_model.fit()
print(result.summary())

Optimization terminated successfully.
         Current function value: 0.265794
         Iterations 7
                           Logit Regression Results
==============================================================================
Dep. Variable:          Clicked on Ad   No. Observations:                  800
Model:                          Logit   Df Residuals:                      796
Method:                           MLE   Df Model:                            3
Date:                Sun, 14 Apr 2019   Pseudo R-squ.:                  0.6165
Time:                        23:16:12   Log-Likelihood:                -212.63
converged:                       True   LL-Null:                       -554.40
                                        LLR p-value:                7.858e-148
============================================================================================
                               coef    std err          z      P>|z|      [0.025      0.975]
--------------------------------------------------------------------------------------------
Daily Time Spent on Site    -0.0561      0.009     -6.557      0.000      -0.073      -0.039
Age                          0.2514      0.018     13.916      0.000       0.216       0.287
Area Income              -1.035e-05   9.13e-06     -1.134      0.257   -2.82e-05    7.54e-06
Daily Internet Usage        -0.0255      0.003     -7.670      0.000      -0.032      -0.019
============================================================================================

In [30]:
x_train.head()

     Daily Time Spent on Site  Age  Area Income  Daily Internet Usage
593                     82.07   24     50337.93                193.97
961                     78.67   26     63319.99                195.56
892                     37.74   40     65773.49                190.95
796                     79.22   27     63429.18                198.79
803                     41.84   49     37605.11                139.32

In [31]:
x_train.drop(['Area Income'],axis=1,inplace=True)

/anaconda3/lib/python3.7/site-packages/pandas/core/frame.py:3940: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy
  errors=errors)

In [32]:
x_train.head()

     Daily Time Spent on Site  Age  Daily Internet Usage
593                     82.07   24                193.97
961                     78.67   26                195.56
892                     37.74   40                190.95
796                     79.22   27                198.79
803                     41.84   49                139.32

In [33]:
log_reg = LogisticRegression()
log_reg.fit(x_train,y_train)

/anaconda3/lib/python3.7/site-packages/sklearn/linear_model/logistic.py:433: FutureWarning: Default solver will be changed to 'lbfgs' in 0.22. Specify a solver to silence this warning.
  FutureWarning)

LogisticRegression(C=1.0, class_weight=None, dual=False, fit_intercept=True,
          intercept_scaling=1, max_iter=100, multi_class='warn',
          n_jobs=None, penalty='l2', random_state=None, solver='warn',
          tol=0.0001, verbose=0, warm_start=False)

In [34]:
y_train_pred=log_reg.predict(x_train)

In [35]:
log_reg.score(x_train,y_train)

0.94375

In [36]:
from sklearn.model_selection import cross_val_score
accuracies = cross_val_score(estimator=log_reg, X=x_train, y=y_train, cv=10)
model_accuracy = accuracies.mean()
model_standard_deviation = accuracies.std()

/anaconda3/lib/python3.7/site-packages/sklearn/linear_model/logistic.py:433: FutureWarning: Default solver will be changed to 'lbfgs' in 0.22. Specify a solver to silence this warning.
  FutureWarning)
/anaconda3/lib/python3.7/site-packages/sklearn/linear_model/logistic.py:433: FutureWarning: Default solver will be changed to 'lbfgs' in 0.22. Specify a solver to silence this warning.
  FutureWarning)
/anaconda3/lib/python3.7/site-packages/sklearn/linear_model/logistic.py:433: FutureWarning: Default solver will be changed to 'lbfgs' in 0.22. Specify a solver to silence this warning.
  FutureWarning)
/anaconda3/lib/python3.7/site-packages/sklearn/linear_model/logistic.py:433: FutureWarning: Default solver will be changed to 'lbfgs' in 0.22. Specify a solver to silence this warning.
  FutureWarning)
/anaconda3/lib/python3.7/site-packages/sklearn/linear_model/logistic.py:433: FutureWarning: Default solver will be changed to 'lbfgs' in 0.22. Specify a solver to silence this warning.
  FutureWarning)
/anaconda3/lib/python3.7/site-packages/sklearn/linear_model/logistic.py:433: FutureWarning: Default solver will be changed to 'lbfgs' in 0.22. Specify a solver to silence this warning.
  FutureWarning)
/anaconda3/lib/python3.7/site-packages/sklearn/linear_model/logistic.py:433: FutureWarning: Default solver will be changed to 'lbfgs' in 0.22. Specify a solver to silence this warning.
  FutureWarning)
/anaconda3/lib/python3.7/site-packages/sklearn/linear_model/logistic.py:433: FutureWarning: Default solver will be changed to 'lbfgs' in 0.22. Specify a solver to silence this warning.
  FutureWarning)
/anaconda3/lib/python3.7/site-packages/sklearn/linear_model/logistic.py:433: FutureWarning: Default solver will be changed to 'lbfgs' in 0.22. Specify a solver to silence this warning.
  FutureWarning)
/anaconda3/lib/python3.7/site-packages/sklearn/linear_model/logistic.py:433: FutureWarning: Default solver will be changed to 'lbfgs' in 0.22. Specify a solver to silence this warning.
  FutureWarning)

In [37]:
accuracies

array([0.96296296, 0.91358025, 0.91358025, 0.9       , 0.8875    ,
       0.9625    , 0.95      , 0.96202532, 0.96202532, 1.        ])

In [38]:
model_accuracy

0.9414174089701517

In [39]:
model_standard_deviation

0.033817071165897335

In [40]:
import statsmodels.api as sm
logit_model=sm.Logit(y_train,x_train)
result=logit_model.fit()
print(result.summary())

Optimization terminated successfully.
         Current function value: 0.266604
         Iterations 7
                           Logit Regression Results
==============================================================================
Dep. Variable:          Clicked on Ad   No. Observations:                  800
Model:                          Logit   Df Residuals:                      797
Method:                           MLE   Df Model:                            2
Date:                Sun, 14 Apr 2019   Pseudo R-squ.:                  0.6153
Time:                        23:16:36   Log-Likelihood:                -213.28
converged:                       True   LL-Null:                       -554.40
                                        LLR p-value:                7.193e-149
============================================================================================
                               coef    std err          z      P>|z|      [0.025      0.975]
--------------------------------------------------------------------------------------------
Daily Time Spent on Site    -0.0585      0.008     -7.035      0.000      -0.075      -0.042
Age                          0.2458      0.017     14.317      0.000       0.212       0.279
Daily Internet Usage        -0.0268      0.003     -8.515      0.000      -0.033      -0.021
============================================================================================

In [41]:
x_test.drop(['Area Income'],axis=1,inplace=True)

/anaconda3/lib/python3.7/site-packages/pandas/core/frame.py:3940: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy
  errors=errors)

In [42]:
x_test.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 200 entries, 431 to 271
Data columns (total 3 columns):
Daily Time Spent on Site    200 non-null float64
Age                         200 non-null int64
Daily Internet Usage        200 non-null float64
dtypes: float64(2), int64(1)
memory usage: 6.2 KB

In [43]:
y_test_pred=log_reg.predict(x_test)

In [44]:
log_reg.score(x_test,y_test)

0.945